<!DOCTYPE html>
<html>
<head>
  <title>Bilja, Tanja i aikido</title>
</head>
<body style="background-color: yellow;">

<h1>Tanja</h1>
<p>Ima crveni kaput</p>
<p>A Bilja ima ljubicasti</p>

<h2>Aikido</h2>
<p>I Bilja i Tanja treniraju aikido</p>

<img src="http://www.aikido.com.br/wallpaper_aikido04.jpg" width="150px" height="150px">

  <table>

    <tr>
      <th>Aikido</th>
      <th>Tehnike</th>
      <th>Seminari</th>
    </tr>

    <tr>
      <td>Tendoryu</td>
      <td>Ikio</td>
      <td>Mart: Jagodina</td>
    </tr>

    <tr>
      <td>Aiki</td>
      <td>Nikio</td>
      <td>Jun: Milano</td>
    </tr>

  </table>

<ul>
  <li>Onegaishimas</li>
  <li>Arigato gozaimashita</li>
  <li>Home</li>
</ul>

</body>
</html>
